body {
    /* ... autres styles ... */
    font-family: Poppins;
    overflow-x: hidden;
}

.navbar-light .navbar-nav .nav-link {
    color: #111111;
    font-size: 18px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffb607;
}

.search_icon {
    width: auto;
    float: right;
    text-align: right;
}

.search_icon ul {
    margin: 0px;
    padding: 0px;
}

.search_icon li {
    float: left;
    padding-left: 20px;
    font-size: 18px;
    color: #000;
}

.search_icon li a {
    color: #000;
}

.search_icon li a:hover {
    color: #ffb607;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-item {
    position: relative;
}

.navbar-nav.mr-auto ul {
    margin: 0px;
    padding: 0px;
}
