nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a6764; /* Couleur de fond brun foncé */
    padding: 20px; /* Ajustez la hauteur de la barre de navigation */
    opacity: 0.7; /* Ajoutez une opacité (valeur entre 0 et 1) */
}

nav img {
    max-width: 150px; /* Ajustez la largeur maximale du logo */
    max-height: 80px; /* Ajustez la hauteur maximale du logo */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 15px; /* Ajustez l'espacement entre les boutons */
}

nav a {
    text-decoration: none;
    color: #0f0e0e; /* Couleur du texte pour les boutons */
    font-size: 18px; /* Ajustez la taille du texte des boutons */
    padding: 10px 15px; /* Ajoutez un peu de rembourrage pour améliorer l'apparence */
    border-radius: 5px; /* Ajoutez des coins arrondis aux boutons */
    transition: background-color 0.3s ease; /* Ajoutez une transition pour une animation plus fluide */

    /* Ajoutez une ombre légère au survol du bouton */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a:hover {
    background-color: #ffac5e; /* Couleur de fond au survol */
    color: #bc0e0e; /* Couleur du texte au survol */
}
