/* Ajoutez cette classe spécifique pour votre formulaire */
.my-custom-form {
    max-width: 400px;
    margin: auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    background-color: rgb(230, 198, 21); /* Fond jaune pour le formulaire */
}

.my-custom-form h1 {
    text-align: center;
}

.my-custom-form .form-group {
    margin-bottom: 15px;
}

.my-custom-form #register-form {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 5px;
}

.my-custom-form .btn {
    background-color: #000;
    color: #fff;
    border: solid #000 2px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.my-custom-form .alert {
    margin-top: 20px;
    text-align: center;
}
