/* styles.css */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#form-container {
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(213, 167, 18);
}

#form-container h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

#register-form {
    background-color: #000; /* Couleur de fond noire */
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.btn {
    background-color: #000;
    color: #fff;
    border: solid #000 2px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.alert {
    margin-top: 20px;
    text-align: center;
}
